
body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: "Karla", sans-serif;
    background-color: hsl(148, 38%, 91%);
}

form * {
    font-size: 16px;
    font-weight: 400;
    box-sizing: border-box;
    width: 100%;
    color: hsl(187, 24%, 22%);
    background-color: hsl(0, 0%, 100%);
    border-radius: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
}

form {
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
    border-radius: 10px;
}
.field-div{
    margin-bottom: 10px;
}
h1{
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
}
.asterisk {
    color: hsl(169, 82%, 27%);
}
.inputs {
    border: 1px solid hsl(187, 24%, 22%);
    outline: 2px solid transparent;
    padding: 10px;
}
.inputs:hover, textarea:hover{
    border: 2px solid hsl(169, 82%, 27%);
}
.inputs:focus, textarea:focus{
    outline: none;
    border: 2px solid hsl(169, 82%, 27%);
}
.errors {
    color: hsl(0, 66%, 54%);
}
.invisible {
    opacity: 0;
}
button.radio-option {
    display: flex;
    align-items: center;
    font-size: 400;
}

button.radio-option:focus {
    background-color: hsl(148, 38%, 91%);
}
.radio-icon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
    padding: 0;
    border-radius: 50%;
}
.inactive {
    border-radius: 50%;
    border: 1px solid hsl(187, 24%, 22%);
    width: 16px;
    height: 16px;
}
.hidden {
    display: none;
}
input, button, textarea {
    cursor: pointer;
}
textarea {
    height: 180px;
    padding: 10px;
}
#consent {
    width: 20px;
    accent-color: hsl(169, 82%, 27%);
}
#checkbox-label{
    cursor: pointer;
}

#submit{
    padding: 12px;
    border: none;
    background-color: hsl(169, 82%, 27%);
    color: hsl(0, 0%, 100%);
}
#submit:hover {
    background-color: hsl(169, 80%, 14%);
}
#success {
    border-radius: 10px;
    box-sizing: border-box;
    margin: 5px;
    margin-bottom: -15px;
    padding: 20px;
    background-color: hsl(187, 24%, 22%);
    color: hsl(0, 0%, 100%);
    z-index: 1;
    max-width: 460px;
}
#success div {
    display: flex;
    margin: 0;
    padding: 0;
}
#success h2 {
    margin: 0;
}
#success img {
    margin-right: 10px;
}

@media only screen and (min-width: 640px) {
    #fullname-wrapper, #query-btn-wrapper {
        display: flex;
        gap: 15px
    }
    textarea {
        height: 80px;
    }
    
}